SECRET_KEY=change-me
ADMIN_PASSWORD=researchadmin
# Alternatively provide ADMIN_PASSWORD_HASH for a pre-hashed value
BASE_URL=https://example.com
DATABASE=grandriver.db
TINYMCE_API_KEY={"kty":"RSA","n":"vCIW9ATXHYDvBDrOpDqq0OXVCLGxKElZnE50fiC0s_TVnAyZ_zYwrfFw9--sVe1CJIzg4gGTrD7ZNoleJ3tjbaLseizM_LpyVLxDpawNk2IrGuV9AUTojl5Um1QVmoMmVzAyeaHVaR6FWo3LFj7gpJTWQnJbURlmkGKaRtmCL7Dregs7uEqdnsCRjUMvBLBkrlWXAPqs6GhV_D-Bkxc4zNxn5UCMOSF6PvolnrHQ8kw6YADhWKnP6b40sjIi-m_ePCBomE5FJElpf2p_KZohPMLuzKZgH0YDrfaBZycA_-bFIDM9vwXUFIHLCnRn62G5utq8Yf6b2DVs0KSI4hePewxvqtwrGfHX3LrOm6C3ue3JCeX-h8YRwCUBDhIEx_-_G1UkHom6jp_BO8XRcG_a091F9a7vnMjORnT3t_Li9bnvNKJgpNofckXXJOL_J0Yz41Bf5qp2gsai4jxJ4ggnG32xZ82E3me1UOnsJG0opj7awpjjuU6d4PJ-ClNzO7bNw8kRqv6Ekgwj2l1UJh6MYJ1KTTKdmu7SzaxlZcOlj98mMTPAMkmEAiNXmuxqnMmds7_DngrSrTAItlgGK4hSBcTBwds5Uajf6fgVbE-uuCxe23vGBHTYoNT9uIX6ekxmUWilitw4R5UPMueBMlitNCEeyE-0CmzwQvt7Lh7k4Zk","e":"AQAB"}
